# 1) Create a python program to sort the given list of tuples based on integer value using a lambda function.

# [('sachin Tendulkar',34357),('Ricky pointing',27483),('Jack Kallis',25534),('Virat Kohli',24936)]

In [44]:
l=[('sachin Tendulkar',34357),('Ricky Pointing',27483),('Jack Kallis',25534),('Virat Kohli',24936)]

In [45]:
def sort_tuple(l):
    l.sort(key=lambda x:x[1])
    return l

y=sort_tuple(l)

for i in y:
    print(i[1])

24936
25534
27483
34357

In [46]:
m = list(map(lambda l:l[1],l))
m

[24936, 25534, 27483, 34357]

# 2) Write a python program to find the squares of all the numbers in the given list of integers using lambda and map functions.

# [1,2,3,4,5,6,7,8,9,10]

In [51]:
l=[1,2,3,4,5,6,7,8,9,10]
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#  3) Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions.

# Given String: [1,2,3,4,5,6,7,8,9,10]
# Expected output: ('1','2','3','5','6','7','8','9','10')

In [8]:
# l=[1,2,3,4,5,6,7,8,9,10]
l=[]
for i in range(1,11):
    l.append(i)
tuple(map(lambda x:str(x),l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

# Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [7]:
from functools import reduce

In [8]:
l_25=[]
for i in range(1,26):
    l_25.append(i)
print(l_25)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [9]:
reduce(lambda x,y:x*y,l_25)

15511210043330985984000000

# Write a python program to to filter the number in a given list that are divisible by 2 and 3 using the filter function.

# [2,3,6,9,27,60,90,120,55,46]

In [16]:
l_2_3=[2,3,6,9,27,60,90,120,55,46]
list(filter(lambda x:x%2==0 and x%3==0,l_2_3))

[6, 60, 90, 120]

# Q-6. Write a python program to find the palindromes in the given list of strings using lambda and filter functions.
# ['python','php','aba','radar','level]

In [30]:
test_palindrome_list=['python','php','aba','radar','level']

filter_palindrome_list=list(filter(lambda x: (x == "".join(reversed(x))), test_palindrome_list)) 
print('List of Palindrome elements are',filter_palindrome_list)

List of Palindrome elements are ['php', 'aba', 'radar', 'level']