Q-1:  List any five functions of the pandas library with execution?

   1) read_csv: This function reads a CSV file into a DataFrame.

   2) head: This function returns the first n rows of a DataFrame.

   3) describe: This function generates descriptive statistics of a DataFrame.

   4) groupby: This function is used to group data by a specific column and perform operations on the grouped data.

   5) merge: This function merges two DataFrames based on a key column.

Let's execute these functions with example data.

First, let's import the pandas library:

In [1]:
import pandas as pd

1) 'read_csv':
    We will use small CSV string for demonstration.

In [2]:
import pandas as pd

# Example CSV content:
# Name, Age, City
# Alice, 30, New York
# Bob, 25, Los Angeles
# Charlie, 35, Chicago

df = pd.read_csv('example.csv')
print(df)

      Name  Age          City
0    Alice    30     New York
1      Bob    25  Los Angeles
2  Charlie    35      Chicago

In [1]:
import pandas as pd

# 1. pd.read_csv()
df = pd.read_csv('example.csv')

# Display the DataFrame
print("DataFrame:\n", df)

# 2. df.head()
print("\nFirst 5 rows of the DataFrame:\n", df.head())

# 3. df.describe()
print("\nDescriptive statistics:\n", df.describe())

# 4. df.dropna()
df_cleaned = df.dropna()
print("\nDataFrame after dropping missing values:\n", df_cleaned)

# 5. df.groupby()
# Grouping by a column (assuming 'category' is a column in the DataFrame)
grouped_df = df.groupby('category').mean()
print("\nGrouped DataFrame (mean values by category):\n", grouped_df)

DataFrame:
       Name  Age          City
0    Alice    30     New York
1      Bob    25  Los Angeles
2  Charlie    35      Chicago

First 5 rows of the DataFrame:
       Name  Age          City
0    Alice    30     New York
1      Bob    25  Los Angeles
2  Charlie    35      Chicago

Descriptive statistics:
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

DataFrame after dropping missing values:
       Name  Age          City
0    Alice    30     New York
1      Bob    25  Los Angeles
2  Charlie    35      Chicago

KeyError: 'category'

To make it more practical, let's create an example DataFrame and demonstrate these functions in a code execution cell:

In [1]:
import pandas as pd
import numpy as np

# Creating an example DataFrame
data = {
    'category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'value1': [1, 2, np.nan, 4, 5, 6],
    'value2': [7, 8, 9, 10, np.nan, 12]
}
df = pd.DataFrame(data)

# 1. Display the DataFrame
print("DataFrame:\n", df)

# 2. First 5 rows of the DataFrame
print("\nFirst 5 rows of the DataFrame:\n", df.head())

# 3. Descriptive statistics
print("\nDescriptive statistics:\n", df.describe())

# 4. DataFrame after dropping missing values
df_cleaned = df.dropna()
print("\nDataFrame after dropping missing values:\n", df_cleaned)

# 5. Grouped DataFrame (mean values by category)
grouped_df = df.groupby('category').mean()
print("\nGrouped DataFrame (mean values by category):\n", grouped_df)

DataFrame:
   category  value1  value2
0        A     1.0     7.0
1        B     2.0     8.0
2        A     NaN     9.0
3        B     4.0    10.0
4        A     5.0     NaN
5        B     6.0    12.0

First 5 rows of the DataFrame:
   category  value1  value2
0        A     1.0     7.0
1        B     2.0     8.0
2        A     NaN     9.0
3        B     4.0    10.0
4        A     5.0     NaN

Descriptive statistics:
          value1     value2
count  5.000000   5.000000
mean   3.600000   9.200000
std    2.073644   1.923538
min    1.000000   7.000000
25%    2.000000   8.000000
50%    4.000000   9.000000
75%    5.000000  10.000000
max    6.000000  12.000000

DataFrame after dropping missing values:
   category  value1  value2
0        A     1.0     7.0
1        B     2.0     8.0
3        B     4.0    10.0
5        B     6.0    12.0

Grouped DataFrame (mean values by category):
           value1  value2
category
A            3.0     8.0
B            4.0    10.0

To make it more practical, let's create an example DataFrame and demonstrate these functions in a code execution cell:

In [1]:
import pandas as pd
import numpy as np

# Creating an example DataFrame
data = {
    'category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'value1': [1, 2, np.nan, 4, 5, 6],
    'value2': [7, 8, 9, 10, np.nan, 12]
}
df = pd.DataFrame(data)

# 1. Display the DataFrame
print("DataFrame:\n", df)

# 2. First 5 rows of the DataFrame
print("\nFirst 5 rows of the DataFrame:\n", df.head())

# 3. Descriptive statistics
print("\nDescriptive statistics:\n", df.describe())

# 4. DataFrame after dropping missing values
df_cleaned = df.dropna()
print("\nDataFrame after dropping missing values:\n", df_cleaned)

# 5. Grouped DataFrame (mean values by category)
grouped_df = df.groupby('category').mean()
print("\nGrouped DataFrame (mean values by category):\n", grouped_df)

DataFrame:
   category  value1  value2
0        A     1.0     7.0
1        B     2.0     8.0
2        A     NaN     9.0
3        B     4.0    10.0
4        A     5.0     NaN
5        B     6.0    12.0

First 5 rows of the DataFrame:
   category  value1  value2
0        A     1.0     7.0
1        B     2.0     8.0
2        A     NaN     9.0
3        B     4.0    10.0
4        A     5.0     NaN

Descriptive statistics:
          value1     value2
count  5.000000   5.000000
mean   3.600000   9.200000
std    2.073644   1.923538
min    1.000000   7.000000
25%    2.000000   8.000000
50%    4.000000   9.000000
75%    5.000000  10.000000
max    6.000000  12.000000

DataFrame after dropping missing values:
   category  value1  value2
0        A     1.0     7.0
1        B     2.0     8.0
3        B     4.0    10.0
5        B     6.0    12.0

Grouped DataFrame (mean values by category):
           value1  value2
category
A            3.0     8.0
B            4.0    10.0

To make it more practical, let's create an example DataFrame and demonstrate these functions in a code execution cell:

In [3]:
import pandas as pd
import numpy as np

# Creating an example DataFrame
data = {
    'category': ['A', 'B', 'A', 'B', 'A', 'B'],
    'value1': [1, 2, np.nan, 4, 5, 6],
    'value2': [7, 8, 9, 10, np.nan, 12]
}
df = pd.DataFrame(data)

# 1. Display the DataFrame
print("DataFrame:\n", df)

# 2. First 5 rows of the DataFrame
print("\nFirst 5 rows of the DataFrame:\n", df.head())

# 3. Descriptive statistics
print("\nDescriptive statistics:\n", df.describe())

# 4. DataFrame after dropping missing values
df_cleaned = df.dropna()
print("\nDataFrame after dropping missing values:\n", df_cleaned)

# 5. Grouped DataFrame (mean values by category)
grouped_df = df.groupby('category').mean()
print("\nGrouped DataFrame (mean values by category):\n", grouped_df)

DataFrame:
   category  value1  value2
0        A     1.0     7.0
1        B     2.0     8.0
2        A     NaN     9.0
3        B     4.0    10.0
4        A     5.0     NaN
5        B     6.0    12.0

First 5 rows of the DataFrame:
   category  value1  value2
0        A     1.0     7.0
1        B     2.0     8.0
2        A     NaN     9.0
3        B     4.0    10.0
4        A     5.0     NaN

Descriptive statistics:
          value1     value2
count  5.000000   5.000000
mean   3.600000   9.200000
std    2.073644   1.923538
min    1.000000   7.000000
25%    2.000000   8.000000
50%    4.000000   9.000000
75%    5.000000  10.000000
max    6.000000  12.000000

DataFrame after dropping missing values:
   category  value1  value2
0        A     1.0     7.0
1        B     2.0     8.0
3        B     4.0    10.0
5        B     6.0    12.0

Grouped DataFrame (mean values by category):
           value1  value2
category
A            3.0     8.0
B            4.0    10.0

## Q-2:Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [4]:
import pandas as pd

In [5]:
def reindex_dataframe(df):
    new_index = range(1,2*len(df)+1,2)
    df.index = new_index
    return df

In [9]:
df = pd.DataFrame({
    'A':[1,2,3],
    'B':[4,5,6],
    'C':[7,8,9]
    })

print('Original Dataframe:')
print(df)

Original Dataframe:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
3

In [8]:
reindexed_df = reindex_dataframe(df)
print('Reindexed Dataframe:\n')
print(reindexed_df)

Reindexed Dataframe:

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9
3

## Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
## iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
## function should print the sum to the console.

## For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
## calculate and print the sum of the first three values, which is 60.

In [10]:
import pandas as pd

def sum_first_three_values(df):
    # Ensure there are at least three values to sum
    if len(df) < 3:
        print("The DataFrame does not contain at least three values.")
        return
    
    # Initialize the sum
    total_sum = 0
    # Iterate over the first three values
    for i in range(3):
        total_sum += df.loc[i, 'Values']
    
    # Print the sum
    print("Sum of the first three values:", total_sum)

# Example usage
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three_values(df)

Sum of the first three values: 60

## Q:4 -Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
## 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [4]:
import pandas as pd

data = {
    'Text':['This is a sample text','Another Example','Pandas is a great for data analysis']
}
df = pd.DataFrame(data)


df

                                  Text
0                This is a sample text
1                      Another Example
2  Pandas is a great for data analysis

def count_words(text):
    return len(text.split())

# apply the function to the 'Text' column to create the 'Word_Count' column
df['Word_Count'] = df['Text'].apply(count_words)


# Display the Dataframe
print(df)

## Q-5: How are DataFrame.size() and DataFrame.shape() different?

The DataFrame.size and DataFrame.shape attributes in Pandas provide different types of information about a DataFrame:

1) 'DataFrame.size':
    Definition: The number of elements in the DataFrame.
    Calculation: It is the total number of cells in the DataFrame, which is the product of the number of rows and the number of   columns.
    Output: A single integer.

In [12]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
print(df.size)  # Output: 6 (3 rows * 2 columns)

6

2) 'DataFrame.shape':

    Definition: The dimensions of the DataFrame.
    Calculation: It returns a tuple representing the number of rows and columns in the DataFrame.
    Output: A tuple (number_of_rows, number_of_columns).

In [13]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
print(df.shape)  # Output: (3, 2) (3 rows, 2 columns)

(3, 2)

1) DataFrame.size gives the total number of elements in the DataFrame.
2) DataFrame.shape gives the dimensions of the DataFrame in terms of rows and columns.

In [14]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

# Get the size of the DataFrame
print(f"Size: {df.size}")  # Output: Size: 6

# Get the shape of the DataFrame
print(f"Shape: {df.shape}")  # Output: Shape: (3, 2)

Size: 6
Shape: (3, 2)

In this example:

   (a) df.size returns 6, which is the total number of elements (3 rows * 2 columns).
   (b) df.shape returns (3, 2), indicating that the DataFrame has 3 rows and 2 columns.

## Q-6: Which function of pandas do we use to read an excel file?

To read an Excel file into a Pandas DataFrame, you use the pd.read_excel() function. This function allows you to specify the path to the Excel file and various other parameters to control how the data is read.

In [17]:
import pandas as pd

# Read the Excel file
df = pd.read_excel('sample.xlsx')

# Display the DataFrame
print(df)

      Name  Age          City
0    Alice    30     New York
1      Bob    25  Los Angeles
2  Charlie    35      Chicago

Key Parameters

  1)  io: The path to the Excel file (can be a string, a file-like object, or an Excel file URL).
  2)  sheet_name: The sheet to read. It can be a string (the sheet name), an integer (the sheet index), or None (read all sheets into a dictionary of DataFrames).
  3)  header: Row (0-indexed) to use for the column labels of the parsed DataFrame. Default is 0.
  4)  names: List of column names to use. If the file contains no header row, then you should explicitly pass header=None.
  5)  index_col: Column(s) to set as the index (row labels) of the DataFrame.
  6)  usecols: Return a subset of the columns. It accepts a list of strings or column indexes.
  7)  dtype: Data type for data or columns. For example, {'a': np.float64, 'b': np.int32}.
  8)  skiprows: Number of rows to skip at the start (0-indexed).
  9)  nrows: Number of rows to read.

# Example with Parameters

import pandas as pd

# Read the Excel file, specifying the sheet name and column names
df = pd.read_excel('path_to_your_file.xlsx', sheet_name='Sheet1', usecols=['A', 'B', 'C'], dtype={'A': str, 'B': int, 'C': float})

# Display the DataFrame
print(df)

# Reading Multiple Sheets

If you want to read multiple sheets from an Excel file, you can pass a list of sheet names or indices to the sheet_name parameter. If you pass None, it will read all sheets into a dictionary of DataFrames.

In [1]:
import pandas as pd

# Read all sheets into a dictionary of DataFrames
dfs = pd.read_excel('devops_timesheet.xlsx', sheet_name='Introduction to Cloud Computing')

# Access a specific sheet's DataFrame
df_sheet1 = dfs['Introduction to Cloud Computing']

# Display the DataFrame for 'Sheet1'
print(df_sheet1)

0     Module 1
1          NaN
2          NaN
3     Module 2
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15    Module 3
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25    Module 4
26         NaN
27         NaN
28         NaN
29         NaN
30         NaN
31         NaN
32         NaN
33         NaN
34         NaN
35         NaN
36         NaN
37         NaN
38    Module 5
39         NaN
40         NaN
41         NaN
42         NaN
43         NaN
44         NaN
45         NaN
46         NaN
47         NaN
48         NaN
49         NaN
50         NaN
51         NaN
52         NaN
53         NaN
54         NaN
55    Module 6
56         NaN
Name: Introduction to Cloud Computing, dtype: object

This flexibility makes pd.read_excel() a powerful tool for reading data from Excel files into Pandas DataFrames.

# Q-7:  You have a Pandas DataFrame df that contains a column named 'Email' that contains email
# addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.

# The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Yourfunction should extract the username from each email address and store it in the new 'Username'column.

In [4]:
import pandas as pd

def extract_username(df):
    # Create the 'Username' column by extracting the part before '@' from the 'Email' column
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

# Example usage:
df = pd.DataFrame({
    'Email': ['john.doe@example.com', 'jane.smith@example.com', 'user123@example.com']
})

df = extract_username(df)
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith
2     user123@example.com     user123

# Q-8:You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2



Your function should select the following rows: A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [1]:
import pandas as pd

In [3]:
def select_rows(df):
    selected_df = df[(df['A']>5)& (df['B']<10)]
    return selected_df



# Example usage
data = {'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]}
df = pd.DataFrame(data)
print(df)
print('*************************')
result_df = select_rows(df)
print(result_df)

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2
*************************
   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Q-9: Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column

In [4]:
import pandas as pd

In [5]:
def calculate_statistics(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_dev_value = df['Values'].std()
    
    return mean_value,median_value,std_dev_value

In [6]:
data = {'Values':[10,20,30,40,50]}
df = pd.DataFrame(data)
df

   Values
0      10
1      20
2      30
3      40
4      50

In [7]:
mean,median,std_dev = calculate_statistics(df)

In [8]:
print(f'Mean: {mean}')
print(f'Median: {median}')
print(f'Standard Deviation: {std_dev}')

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

# Q-10: Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [12]:
import pandas as pd
#Example usage
# Assuming df is your DataFrame with 'Sales' and 'Date' columns
df = pd.DataFrame({
     'Date': pd.date_range(start='2023-01-01', periods=11, freq='D'),
     'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100,110]
 })

In [15]:
df

         Date  Sales  MovingAverage
0  2023-01-01     10           10.0
1  2023-01-02     20           15.0
2  2023-01-03     30           20.0
3  2023-01-04     40           25.0
4  2023-01-05     50           30.0
5  2023-01-06     60           35.0
6  2023-01-07     70           40.0
7  2023-01-08     80           50.0
8  2023-01-09     90           60.0
9  2023-01-10    100           70.0
10 2023-01-11    110           80.0

In [16]:
import pandas as pd

def add_moving_average(df):
    # Ensure the DataFrame is sorted by 'Date'
    df = df.sort_values(by='Date')
    
    # Calculate the moving average with a window of 7 days
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df

In [17]:
df = add_moving_average(df)
print(df)

         Date  Sales  MovingAverage
0  2023-01-01     10           10.0
1  2023-01-02     20           15.0
2  2023-01-03     30           20.0
3  2023-01-04     40           25.0
4  2023-01-05     50           30.0
5  2023-01-06     60           35.0
6  2023-01-07     70           40.0
7  2023-01-08     80           50.0
8  2023-01-09     90           60.0
9  2023-01-10    100           70.0
10 2023-01-11    110           80.0

# Q-11:You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
# For example, if df contains the following values:
   # Date
#0 2023-01-01
#1 2023-01-02
#2 2023-01-03
#3 2023-01-04
#4 2023-01-05
# Your function should create the following DataFrame:

    # Date Weekday
#0 2023-01-01 Sunday
#1 2023-01-02 Monday
#2 2023-01-03 Tuesday
#3 2023-01-04 Wednesday
#4 2023-01-05 Thursday
# The function should return the modified DataFrame.

##

In [1]:
import pandas as pd

def add_weekday_column(df):
    # Convert the 'Date' column to datetime if it is not already
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Create the 'Weekday' column with the weekday name
    df['Weekday'] = df['Date'].dt.day_name()
    
    return df

# Example usage:
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)
df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [18]:
import pandas as pd

def select_rows_between_dates(df):
    # Convert 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Define the start and end dates for filtering
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    # Use boolean indexing to filter rows
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    
    filtered_df = df.loc[mask]
    
    return filtered_df



# Example usage:
filtered_df = select_rows_between_dates(df)
print(filtered_df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself.

You typically import pandas using the following convention:

In [19]:
import pandas as pd

Here, pd is an alias commonly used for pandas to make code more concise. After importing pandas, you can then access its functions and classes to work with DataFrames and Series, manipulate data, perform calculations, and much more. This import statement is usually placed at the beginning of your Python script or notebook.